{% extends 'base-back.html.twig' %}

{% block title %}Repas{% endblock %}

{% block body %}
    <h1>Repas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRepas</th>
                <td>{{ repa.idRepas }}</td>
            </tr>
            <tr>
                <th>NomRep</th>
                <td>{{ repa.nomRep }}</td>
            </tr>
            <tr>
                <th>NbCal</th>
                <td>{{ repa.nbCal }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ repa.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('repas_index') }}">back to list</a>

    <a href="{{ path('repas_edit', {'idRepas': repa.idRepas}) }}">edit</a>

    {{ include('repas/_delete_form.html.twig') }}
{% endblock %}
