{% extends 'base-back.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h1>liste des livraisons</h1>

   <div class="card">
  <h5 class="card-header">Liste des livraisons</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
            <tr>
                <th>Commande n°=</th>
                <th>Livré?</th>
                <th>Etat commande (payé/non payé)</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.commande.numCmd }}</td>
            <td><span class="badge bg-label-info me-1">{{ livraison.etatLivraison ? 'livrée' : 'Non livrée' }}</span></td>
            <td><span class="badge bg-label-info me-1">{{ livraison.commande.etat ? 'Payé' : 'Non payé' }}</span></td>
                <td>
                    <a href="{{ path('app_livraison_show', {'id': livraison.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Livraison vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    <a href="{{ path('app_livraison_new') }}">Create new</a>
{% endblock %}
