{% extends 'base-back.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">



        <div class="card">
            <h1 class="card-header">Promotion</h1>
            <div class="table-responsive text-nowrap">

    <table class="table">
        <tbody>
            <tr>
                <th>IdProm</th>
                <td>{{ promotion.idProm }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ promotion.titre }}</td>
            </tr>
            <tr>
                <th>Porcentage</th>
                <td>{{ promotion.porcentage }}</td>
            </tr>
            <tr>
                <th>Ancienprix</th>
                <td>{{ promotion.ancienprix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="img-rounded" src="{{ asset('images/'~promotion.image) }}" alt="" width="100" height="100" style="margin: 20px"></td>
            </tr>
            <tr>
                <th>Descprom</th>
                <td>{{ promotion.descprom }}</td>
            </tr>
        </tbody>
    </table>
                <div class="row" style="margin-top: 10px">
                    <div class="row" style="margin-left: 50px">
                        <div class="col">
                            <a class="btn btn-primary" href="{{ path('app_promotion_edit', {'idProm': promotion.idProm}) }}">edit</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="{{ path('app_promotion_index') }}">back to list</a>
                        </div>
                    <div class="row" style="margin-left: 250px">
                        {{ include('promotion/_delete_form.html.twig') }}
                    </div>
{% endblock %}
