<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Sahti APP</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico')}}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css')}}'" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/core.css')}}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/theme-default.css')}}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('assets/css/demo.css')}}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')}}" />

    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/apex-charts/apex-charts.css')}}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ asset('assets/vendor/js/helpers.js')}}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('assets/js/config.js')}}"></script>
</head>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="/" class="app-brand-link">
                        <img src="{{ asset('images/SAHTI without bg.png') }} " style="margin-left: 40px" height="90px" width="100%" />

                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item active">
                        <a href="/adminpanel" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Admin Panel</div>
                        </a>
                    </li>

                    <!-- Layouts -->

                    {% if is_granted('ROLE_USER') %}

                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Client</span>
                    </li>
                    <li class="menu-item ">
                        <a href="/profile/listavailablecoach" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">List coach</div>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a href="/profile/listavailablenutri" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">List nutritionist</div>
                        </a>
                    </li>
                   {% endif %}

                    {% if is_granted('ROLE_NUTRI') %}

                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Nutristionist</span></li>
                    <!-- Cards -->
                    <li class="menu-item">
                        <a href="" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Cards</div>
                        </a>
                    </li>
                    {% endif %}
                    <!-- User interface -->


                    {% if is_granted('ROLE_COACH') %}
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Coach</span></li>

                    <li class="menu-item">
                        <a href="/programmeentraineur" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-table"></i>
                            <div data-i18n="Tables">Program</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/suivieevolution" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-table"></i>
                            <div data-i18n="Tables">Progress monitoring</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/progclient" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-table"></i>
                            <div data-i18n="Tables">Prog / Client</div>
                        </a>
                    </li>
                    {% endif %}
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Shop</span></li>
                    <li class="menu-item">
                        <a
                                href=""
                                target="_blank"
                                class="menu-link"
                        >
                            <i class="menu-icon tf-icons bx bx-support"></i>
                            <a href="/produit"><div data-i18n="Support" >Product</div></a>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a
                                href=""
                                target="_blank"
                                class="menu-link"
                        >
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Documentation" ><a href="/promotion">Promotion</a></div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a
                                href=""
                                target="_blank"
                                class="menu-link"
                        >
                            <i class="menu-icon tf-icons bx bx-file"></i>
                            <div data-i18n="Documentation" ><a href="/categorie">Categorie</div>
                        </a>
                    </li>

                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
                    <div class="layout-page">
                        <!-- Navbar -->

                        <nav
                                class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                                id="layout-navbar"
                        >
                            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                    <i class="bx bx-menu bx-sm"></i>
                                </a>
                            </div>

                            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                                <ul class="navbar-nav flex-row align-items-center ms-auto">

                                    <!-- User -->
                                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                            <div class="avatar avatar-online">
                                                {% if app.user %}
                                                <img  src="{{ asset('uploads/' ~   app.user.salt ) }}"  alt class="w-px-40 h-auto rounded-circle" />
                                                {% endif %}
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <img  src="{{ asset('images/SAHTI Logo with BG.png') }}"  alt class="w-px-40 h-auto rounded-circle" />
                                                {% endif %}

                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar avatar-online">
                                                                {% if app.user %}
                                                                    <img  src="{{ asset('uploads/' ~   app.user.salt ) }}"  alt class="w-px-40 h-auto rounded-circle" />
                                                                {% endif %}
                                                                {% if is_granted('ROLE_ADMIN') %}
                                                                    <img  src="{{ asset('images/SAHTI Logo with BG.png') }}"  alt class="w-px-40 h-auto rounded-circle" />
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            {% if app.user %}

                                                            <span class="fw-semibold d-block">{{ app.user.username }}</span>
                                                                <small class="text-muted"></small>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                {% endif %}
                                                {% if is_granted('ROLE_USER') %}
                                                    <a class="dropdown-item" href="/profile">
                                                        <i class="bx bx-user me-2"></i>
                                                        <span class="align-middle">My Profile</span>
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('ROLE_COACH') %}
                                                    <a class="dropdown-item" href="/profileE">
                                                        <i class="bx bx-user me-2"></i>
                                                        <span class="align-middle">My Profile</span>
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('ROLE_NUTRI') %}
                                                    <a class="dropdown-item" href="/profileN">
                                                        <i class="bx bx-user me-2"></i>
                                                        <span class="align-middle">My Profile</span>
                                                    </a>
                                                {% endif %}

                                            </li>

                                            <li>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                            <li>
                                                {% if app.user %}

                                                <a class="dropdown-item" href="/logout">
                                                    <i class="bx bx-power-off me-2"></i>
                                                    <span class="align-middle">Log Out</span>
                                                </a>
                                                {% endif %}

                                            </li>
                                        </ul>
                                    </li>
                                    <!--/ User -->
                                </ul>
                            </div>
                        </nav>

                        <!-- / Navbar -->

                        <!-- Content wrapper -->
                        <div class="content-wrapper">
                            <!-- Content -->
                            {% block body %}
                            {% endblock %}
                        </div>
                        <!-- Content wrapper -->
                    </div>
            <!-- / Layout page -->

        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

    </div>


    <!-- / Layout wrapper -->



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ asset('assets/vendor/libs/jquery/jquery.js')}}"></script>
    <script src="{{ asset('assets/vendor/libs/popper/popper.js')}}"></script>
    <script src="{{ asset('assets/vendor/js/bootstrap.js')}}"></script>
    <script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')}}"></script>

    <script src="{{ asset('assets/vendor/js/menu.js')}}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{{ asset('assets/vendor/libs/apex-charts/apexcharts.js')}}"></script>

    <!-- Main JS -->
    <script src="{{ asset('assets/js/main.js')}}"></script>

    <!-- Page JS -->
    <script src="{{ asset('assets/js/dashboards-analytics.js')}}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script>
    $( document).ready(function() {
        var currentRequest = null;
        $("#searchsearch").keyup(function(e){
            var value = $(this).val();
            if(currentRequest != null) {
                currentRequest.abort();
            }
            currentRequest = $.ajax({

                url : "{{ path('searchclient') }}",
                type : 'GET',
                data: {
                    'searchValue' : value
                },

                success : function(retour)
                {
                    $('#tableclient').html(retour);

                },
            });
            return false;
        });
    });
</script>
    <script>
        $( document).ready(function() {
            var currentRequest = null;
            $("#searchsearch1").keyup(function(e){
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                currentRequest = $.ajax({

                    url : "{{ path('searchcoachlive') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#tablecoach1').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
    <script>
        $( document).ready(function() {
            var currentRequest = null;
            $("#searchsearch2").keyup(function(e){
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                currentRequest = $.ajax({

                    url : "{{ path('searchnutri') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#tablenutri').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}
</html>
