{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Symfony QR-Code ✅</h1> <hr>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Recherche'}}) }}
                <hr>
                <button type="submit" class="btn btn-success btn-block">Recherche</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            {% if qrCode %}
                <img src="{{ qrCode }}" alt="qr-code">
            {% endif %}
        </div>
    </div>
    <div class ="row">
        <div class="col">
        <a href="{{ path('pdf')}}" class="btn btn-success">Génerer facture</a>
        </div>
    </div>
</div>
{% endblock %}
